# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
dist/
build/

# VS Code
.vscode/*

# Data/Models
data/models/*
!data/models/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
data/identities/*
!data/identities/.gitkeep
